<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/06fcb987e4.js" crossorigin="anonymous"></script>
    <script src="/script/myscripts.js" async></script>
</head>

<body>

    <%- include('../partials/sidebar.ejs') %>

        <main class="main-container">
            <nav class="topbar" style="border-radius: 10px">
                <%- include('../partials/prev-next-btn.ejs') %>
                    <div class="searchBar">
                        <form style=" display: inline-flex" action="#" method="post">
                            <input id="searchType" type="text" name="search" placeholder="Search..">
                            <input type="submit" hidden />
                        </form>
                       
                    </div>
                  
                            <%- include('../partials/topnav.ejs') %>
            </nav>

            <section class="content-container">
                <p> Songs </p>
                <div class="search-container">
                    <% if (songResults && songResults.length> 0) { %>
                        <% songResults.forEach(song=> { %>
                            <div class="home-item">
                                <img src="<%= song.image %>" />
                                <h4>
                                    <%= song.name %>
                                </h4>
                                <p>
                                    <%= song.artist %>
                                </p>
                            </div>
                            <% }); %>
                                <% } else { %>
                                    <p>No initial song results available</p>
                                    <% } %>
                </div>
                
            </section>
        </main>
</body>

</html>